* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Times New Romen;
    background: url(фон.jpg);/* #c26208 или url(фон.jpg)*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ;
}

label{
    font-size: 28px;
}

a {
    font-size: 28px;
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    font-size: 28px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #454141;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    font-size: 28px;
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #b7625c;
}